body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: Arial;
}

.container {
  background: white;
  width: 350px;
  margin: 100px auto;
  padding: 25px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
}
a {
  color: #4f46e5;
  text-decoration: none;
}
