<link rel="stylesheet" href="/static/style.css">
<script src="/static/app.js"></script>

<div class="container">
  <h2>Add Expense</h2>

  <form method="post" action="/add-expense" id="expenseForm">
    <input name="amount" type="number" placeholder="Amount" required>
    <input name="category" placeholder="Category" required>
    <input name="date" type="date" required>
    <input name="description" placeholder="Description">
    <button id="expenseBtn">Add Expense</button>
  </form>

  <a href="/dashboard">Back to Dashboard</a>
</div>

<script>
  handleSubmit("expenseBtn", "expenseForm");
</script>
