<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Expense | Expense Manager</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
  <h2>Add Expense</h2>

  <form method="post" action="/add-expense" id="expenseForm">
    <input type="number" name="amount" placeholder="Amount" required>
    <input type="text" name="category" placeholder="Category" required>
    <input type="date" name="date" required>
    <input type="text" name="description" placeholder="Description">

    <button type="submit" id="addExpenseBtn">
      Add Expense
    </button>
  </form>

  <a href="/dashboard">Back to Dashboard</a>
</div>
<div>
<form method="post" action="/delete-expense/{{ expense.id }}">
  <button type="submit" id="deleteExpenseBtn" style="background-color:#e74c3c;">
    Delete Expense
  </button>

<!-- JS -->
<script src="/static/app.js"></script>
<script>
  handleSubmit("addExpenseBtn", "expenseForm", "Adding Expense...");
</script>

</body>
</html>
